In [1]:
from Modele_db.modele_db import *
from Pianki.Analiza_pianek.funkcje_analizy_pianek import *

# pd.set_option()

In [2]:
Ogolna_analiza_objetosci()
print("---\nZAPEŁNIENIE MAGAZYNU")
Ogolna_analiza_objetosci("podsum_prc")

MAX_obj:                    3250
ZAMOWIONE_obj:              1066
CZEKA_NA_SPAKOWANIE_obj:    0
SALDO_obj:                  2118
WOLNE_obj:                  1866
WOLNE_NIE_SPAK_obj:         1866
DO_ZAM_obj:                 463
---
ZAPEŁNIENIE MAGAZYNU
SALDO / MAX: 65.2%
WOLNE / MAX: 57.4%
WOLNE_NIE_SPAK / MAX: 57.4%
ZAPEŁNIENIE MAG PO ZDJECIU 1 PACZEK RAZEM Z ZAMOWIENIAMI: 90.2%

In [3]:
Podsumowanie_paczek_i_Pw("24/61")

OBIĘTOSC PACZEK (Z OWATAMI)
25/01: 160m3
WST: 91m3
Objetość wszystkich paczek: 251m3
PW 24/61 spakowano: 106M3

In [12]:
br = Braki(WOLNE="SALDO")[0] #USUNAC PROBLEM Z DUBLUJACYMI SIE ZAMOWIANIAMI(JEDNO DOSTARCZONE DRUGIE W DRODZE TWORZĄ SIĘ DWIE POZYCJE)
br.sort_values(by=["GRUPA", "OPIS"])
# br.to_excel("BRAKI.xlsx")

,OPIS,WOLNE_SALDO,SALDO,PACZKA,DATA_KOMPLETACJI,ZAMOWIONE,UWAGI,GRUPA
0,DIVA N,-2.0,0.0,25/01,2024-08-26,0.0,...,1
2,RITZ [L,-1.0,0.0,WST,2024-09-02,0.0,...,1
6,STONE Z50,-1.0,7.0,WST,2024-09-02,0.0,...,1
7,"WIL 2,5 SIED Z BOCZ - OWA",-1.0,7.0,WST,2024-09-02,0.0,...,1
8,WIL 4 SIED Z BOCZ - OWA,-6.0,0.0,25/01,2024-08-26,0.0,...,1
1,"HORIZON T2,5z",-1.0,0.0,WST,2024-09-02,10.0,"PIANKI ZAMOWIONE PV, , ,",2
3,STONE NW140x150,-1.0,12.0,WST,2024-09-02,50.0,"PIANKI ZAMOWIONE P, , ,",2
5,STONE P106x82,-3.0,0.0,25/01,2024-08-26,20.0,"PIANKI ZAMOWIONE P, , ,",2
4,STONE [LH,-3.0,0.0,25/01,2024-08-26,20.0,"PIANKI ZAMOWIONE P, , ,",2

In [11]:
Zagrozone(WOLNE="SALDO")
zgr = Zagrozone(False,WOLNE="SALDO")
# zgr
# zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)]
# zgr[(zgr.SALDO < zgr.MIN)]
zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)&(zgr.SALDO < zgr.MIN)]

WOLNE PONIZEJ MIN: 94 POZYCJE
WOLNE PONIZEJ MIN NIE ZAMOWIONE: 36 POZYCJE
SALDO PONIZEJ MIN: 71 POZYCJE
SALDO PONIZEJ MIN NIE ZAMOWIONE: 24 POZYCJE

,OPIS,ZAMOWIONE,CZEKA_NA_SPAKOWANIE,SALDO,MIN,WOLNE_SALDO
74,DIVA P95x95,0.0,0.0,7.0,8,7.0
79,DUO LH][,0.0,0.0,9.0,10,9.0
81,DUO ][,0.0,0.0,9.0,25,6.0
82,DUO P82x82,0.0,0.0,0.0,1,0.0
83,DUO P62x62,0.0,0.0,0.0,1,0.0
91,ELIXIR P120x98,0.0,0.0,3.0,8,2.0
94,"EXTREME 1,5s",0.0,0.0,0.0,8,0.0
97,"EXTREME [1,5s",0.0,0.0,0.0,8,0.0
107,EXTREME P80x105,0.0,0.0,0.0,8,0.0
126,HUDSON 3,0.0,0.0,14.0,15,12.0
131,HUDSON [L,0.0,0.0,3.0,4,3.0
140,MAXWELL 4,0.0,0.0,6.0,8,6.0
147,MAXWELL ][,0.0,0.0,46.0,50,44.0
158,"ONYX 2,5",0.0,0.0,8.0,10,8.0
160,"ONYX 3,5",0.0,0.0,5.0,17,3.0
175,OXYGEN P103x80,0.0,0.0,2.0,5,0.0
194,"RITZ 2,5",0.0,0.0,6.0,8,3.0
197,RITZ 4,0.0,0.0,0.0,4,0.0
207,SAMOA 1z,0.0,0.0,17.0,18,6.0
210,SAMOA P100x100,0.0,0.0,0.0,2,0.0
235,STONE P82x82,0.0,0.0,3.0,6,2.0
247,WILLOW P106x106,0.0,0.0,1.0,2,0.0
248,WILLOW P106x82,0.0,0.0,4.0,9,2.0
253,WIL 1 SIED BEZ BOCZ - OWA,0.0,0.0,9.0,10,7.0

In [4]:
#IMPORT ANAMLIZY PIANEK
from Pianki.Analiza_pianek.instrukcje_zamawiana import instrukcja_zamawiania_pianpol as izp, instrukcja_zamawiania_ciech as izc
from Pianki.Analiza_pianek.Podsumowanie_analizy_pianek import Podsumowanie_analizy_pianek

arp = Podsumowanie_analizy_pianek(izp)
# arc = Podsumowanie_analizy_pianek(izc)

In [6]:
arp["STONE"].ar.columns

Index(['OPIS', 'ZAMOWIONE', 'CZESIOWO_DOSTARCZONE', 'CZEKA_NA_SPAKOWANIE',
       'SALDO', 'SALDO_Z_NIE_SPAK', 'MIN', 'MAX', 'SUMA_ZLEC', 'WOLNE_SALDO',
       'WOLNE_NIE_SPAK', '25/01', 'WST', 'DO_ZAM_SZT'],
      dtype='object')

In [9]:
(arp > 1).query("GRUPA < 4")

,GRUPA,MODEL,BRYL_DO_ZAMOWIENIA,WSPL_DO_ZAM,OBJ_CIECH,OBJ_VITA,OBJ_PIANPOL,*WSPL_ZAP_WOLNE,*WSPL_ZAP_ZAM
1,1,ELIXIR,213.0,52.0,0.00,0.00,82.42,48.0,48.0
2,1,STONE,310.0,38.0,0.00,0.00,102.39,48.0,64.0
3,1,HORIZON,69.0,6.0,0.00,16.36,2.79,64.0,97.0
0,1,AVANT,14.0,2.0,0.00,0.00,3.98,57.0,106.0
6,2,MAXWELL,41.0,24.0,0.00,0.00,14.64,81.0,81.0
5,2,DIVA,52.0,21.0,0.00,0.00,17.27,44.0,83.0
7,2,OXYGEN,45.0,19.0,0.00,0.00,12.29,86.0,86.0
8,2,WILLOW,54.0,15.0,0.00,0.00,21.41,21.0,92.0
9,2,REVERSO,29.0,5.0,0.00,7.69,1.63,60.0,97.0
4,2,AMALFI,18.0,3.0,0.00,0.00,5.96,61.0,99.0
15,3,RITZ,37.0,52.0,10.01,0.00,0.00,85.0,85.0
11,3,DUO,37.0,41.0,0.00,0.00,12.86,62.0,62.0
14,3,ONYX,45.0,40.0,0.00,0.00,20.91,71.0,71.0
12,3,HUDSON,45.0,28.0,0.00,0.00,12.56,78.0,78.0
16,3,SAMOA,69.0,28.0,0.00,0.00,15.62,72.0,72.0
13,3,CALYPSO,35.0,21.0,0.00,0.00,10.73,61.0,85.0
10,3,GOYA,18.0,13.0,0.00,0.00,6.88,96.0,96.0
17,3,SPECTRA,5.0,4.0,0.00,0.00,2.19,37.0,98.0

In [ ]:
arp["STONE"].Wykres_obj()

In [ ]:
arp.Tabela_podsumowania_analizy#.query("GRUPA == 4")

In [ ]:
arp["STONE"].ar

In [ ]:
"sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db"

In [10]:
Zapis_danych_do_Archiwum(243x, analiza, arp._Tabela_podsumowania_analizy, "sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db")