In [1]:
from Modele_db.modele_db import *
from Pianki.Analiza_pianek.funkcje_analizy_pianek import *

# pd.set_option()

In [2]:
Podsumowanie_paczek_i_Pw("24/54")

OBIĘTOSC PACZEK (Z OWATAMI)
23/01: 211m3
24/01: 182m3
WST: 86m3
Objetość wszystkich paczek: 480m3
PW 24/54 spakowano: 63M3

In [3]:
br = Braki(WOLNE="SALDO")[0] #USUNAC PROBLEM Z DUBLUJACYMI SIE ZAMOWIANIAMI(JEDNO DOSTARCZONE DRUGIE W DRODZE TWORZĄ SIĘ DWIE POZYCJE)
br.sort_values(by=["GRUPA", "OPIS"])
# br.to_excel("BRAKI.xlsx")

,OPIS,WOLNE_SALDO,SALDO,PACZKA,DATA_KOMPLETACJI,ZAMOWIONE,UWAGI,GRUPA
1,DUO P82x82,-1.0,0.0,23/01,2024-08-12,0.0,...,1
3,RITZ [L,-1.0,0.0,WST,2024-08-26,0.0,...,1
4,SAMOA P100x100,-2.0,0.0,23/01,2024-08-12,0.0,...,1
9,WIL 4 SIED Z BOCZ - OWA,-13.0,1.0,23/01,2024-08-12,0.0,...,1
0,DIVA LA,-2.0,0.0,23/01,2024-08-12,40.0,"PIANKI ZAMOWIONE P, , ,",2
14,KELLY [1],-5.0,7.0,24/01,2024-08-19,60.0,"PIANKI ZAMOWIONE P, , ,",2
13,LENOX [1H],-25.0,0.0,23/01,2024-08-12,160.0,"PIANKI ZAMOWIONE V, , ,",2
10,LENOX [1o],-169.0,71.0,23/01,2024-08-12,290.0,"PIANKI ZAMOWIONE P, , ,",2
11,LENOX [1o],-169.0,71.0,23/01,2024-08-12,290.0,"PIANKI ZAMOWIONE V, , ,",2
5,STONE 3,-8.0,5.0,24/01,2024-08-19,40.0,"PIANKI ZAMOWIONE P, , ,",2
6,STONE 4,-5.0,0.0,23/01,2024-08-12,25.0,"PIANKI ZAMOWIONE P, , ,",2
8,STONE P106x82,-2.0,7.0,24/01,2024-08-19,20.0,"PIANKI ZAMOWIONE P, , ,",2
7,STONE [LH,-4.0,0.0,23/01,2024-08-12,20.0,"PIANKI ZAMOWIONE P, , ,",2
12,LENOX [1H],-25.0,0.0,23/01,2024-08-12,160.0,CZEKA NA SPAKOWANIE,4
2,ONYX ][,-12.0,10.0,24/01,2024-08-19,80.0,CZEKA NA SPAKOWANIE,4

In [4]:
Zagrozone(WOLNE="SALDO")
zgr = Zagrozone(False,WOLNE="SALDO")
# zgr
# zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)]
# zgr[(zgr.SALDO < zgr.MIN)]
zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)&(zgr.SALDO < zgr.MIN)]

WOLNE PONIZEJ MIN: 87 POZYCJE
WOLNE PONIZEJ MIN NIE ZAMOWIONE: 26 POZYCJE
SALDO PONIZEJ MIN: 51 POZYCJE
SALDO PONIZEJ MIN NIE ZAMOWIONE: 13 POZYCJE

                OPIS  ZAMOWIONE  CZEKA_NA_SPAKOWANIE  SALDO  MIN  WOLNE_SALDO
69            DIVA N        0.0                  0.0    0.0    2          0.0
81            DUO ][        0.0                  0.0   20.0   25          7.0
91    ELIXIR P120x98        0.0                  0.0    3.0    8          3.0
94      EXTREME 1,5s        0.0                  0.0    0.0    8          0.0
97     EXTREME [1,5s        0.0                  0.0    0.0    8          0.0
107  EXTREME P80x105        0.0                  0.0    0.0    8          0.0
131        HUDSON [L        0.0                  0.0    3.0    4          3.0
160         ONYX 3,5        0.0                  0.0   14.0   17          3.0
175   OXYGEN P103x80        0.0                  0.0    3.0    5          1.0
194         RITZ 2,5        0.0                  0.0    6.0    8          3.0
197           RITZ 4        0.0                  0.0    0.0    4          0.0
236        STONE Z50        0.0                  0.0   13.0   15          7.0
248   WILLOW P106x82        0.0                  0.0    8.0    9          4.0

In [5]:
Ogolna_analiza_objetosci()
print("---\nZAPEŁNIENIE MAGAZYNU")
Ogolna_analiza_objetosci("podsum_prc")

MAX_obj:                    3250
ZAMOWIONE_obj:              1150
CZEKA_NA_SPAKOWANIE_obj:    84
SALDO_obj:                  2200
WOLNE_obj:                  1719
WOLNE_NIE_SPAK_obj:         1803
DO_ZAM_obj:                 485
---
ZAPEŁNIENIE MAGAZYNU
SALDO / MAX: 67.7%
WOLNE / MAX: 52.9%
WOLNE_NIE_SPAK / MAX: 55.5%
ZAPEŁNIENIE MAG PO ZDJECIU 2 PACZEK RAZEM Z ZAMOWIENIAMI: 90.9%

In [6]:
#IMPORT ANAMLIZY PIANEK
from Pianki.Analiza_pianek.instrukcje_zamawiana import instrukcja_zamawiania_pianpol as izp, instrukcja_zamawiania_ciech as izc
from Pianki.Analiza_pianek.Podsumowanie_analizy_pianek import Podsumowanie_analizy_pianek

arp = Podsumowanie_analizy_pianek(izp)
# arc = Podsumowanie_analizy_pianek(izc)

In [7]:
arp

OBJ_CIECH        9.40
OBJ_VITA        19.11
OBJ_PIANPOL    279.94
RAZEM          308.45

In [8]:
(arp > 1).query("GRUPA < 4")

,GRUPA,MODEL,BRYL_DO_ZAMOWIENIA,WSPL_DO_ZAM,OBJ_CIECH,OBJ_VITA,OBJ_PIANPOL,*WSPL_ZAP_WOLNE,*WSPL_ZAP_ZAM
1,1,ELIXIR,177.0,44.0,0.0,0.00,70.23,56.0,56.0
2,1,STONE,259.0,32.0,0.0,0.00,84.91,23.0,71.0
3,1,HORIZON,42.0,3.0,0.0,9.89,1.53,68.0,101.0
6,2,MAXWELL,41.0,24.0,0.0,0.00,14.64,81.0,81.0
7,2,OXYGEN,36.0,16.0,0.0,0.00,9.92,90.0,90.0
5,2,DIVA,30.0,12.0,0.0,0.00,10.16,30.0,99.0
8,2,WILLOW,32.0,9.0,0.0,0.00,13.61,30.0,101.0
15,3,RITZ,35.0,49.0,9.4,0.00,0.00,90.0,90.0
14,3,ONYX,45.0,40.0,0.0,0.00,20.88,34.0,71.0
11,3,DUO,36.0,39.0,0.0,0.00,12.36,63.0,63.0
16,3,SAMOA,63.0,26.0,0.0,0.00,14.41,74.0,74.0
12,3,HUDSON,40.0,25.0,0.0,0.00,11.41,81.0,81.0
13,3,CALYPSO,30.0,18.0,0.0,0.00,9.51,49.0,89.0
10,3,GOYA,7.0,4.0,0.0,0.00,1.85,107.0,107.0

In [11]:
arp.Tabela_podsumowania_analizy#.query("GRUPA == 4")

,GRUPA,MODEL,BRYL_DO_ZAMOWIENIA,WSPL_DO_ZAM,OBJ_CIECH,OBJ_VITA,OBJ_PIANPOL,*WSPL_ZAP_WOLNE,*WSPL_ZAP_ZAM
1,1,ELIXIR,177.0,44.0,0.0,0.00,70.23,56.0,56.0
2,1,STONE,259.0,32.0,0.0,0.00,84.91,23.0,71.0
3,1,HORIZON,42.0,3.0,0.0,9.89,1.53,68.0,101.0
0,1,AVANT,2.0,0.0,0.0,0.00,0.68,62.0,110.0
6,2,MAXWELL,41.0,24.0,0.0,0.00,14.64,81.0,81.0
7,2,OXYGEN,36.0,16.0,0.0,0.00,9.92,90.0,90.0
5,2,DIVA,30.0,12.0,0.0,0.00,10.16,30.0,99.0
8,2,WILLOW,32.0,9.0,0.0,0.00,13.61,30.0,101.0
4,2,AMALFI,5.0,1.0,0.0,0.00,1.53,65.0,103.0
9,2,REVERSO,1.0,0.0,0.0,0.46,0.14,68.0,105.0
15,3,RITZ,35.0,49.0,9.4,0.00,0.00,90.0,90.0
14,3,ONYX,45.0,40.0,0.0,0.00,20.88,34.0,71.0
11,3,DUO,36.0,39.0,0.0,0.00,12.36,63.0,63.0
16,3,SAMOA,63.0,26.0,0.0,0.00,14.41,74.0,74.0
12,3,HUDSON,40.0,25.0,0.0,0.00,11.41,81.0,81.0
13,3,CALYPSO,30.0,18.0,0.0,0.00,9.51,49.0,89.0
10,3,GOYA,7.0,4.0,0.0,0.00,1.85,107.0,107.0
17,3,SPECTRA,1.0,1.0,0.0,0.00,0.42,40.0,101.0
22,4,KELLY,25.0,31.0,0.0,0.00,1.75,-6.0,69.0
19,4,OVAL,75.0,21.0,0.0,8.76,0.00,21.0,79.0
18,4,COCO,0.0,0.0,0.0,0.00,0.00,14.0,109.0
20,4,LENOX,0.0,0.0,0.0,0.00,0.00,-73.0,103.0
21,4,UNO,0.0,0.0,0.0,0.00,0.00,30.0,130.0
23,4,GREY,0.0,0.0,0.0,0.00,0.00,3.0,103.0

In [10]:
arp["STONE"].ar

,OPIS,ZAMOWIONE,CZESIOWO_DOSTARCZONE,CZEKA_NA_SPAKOWANIE,SALDO,SALDO_Z_NIE_SPAK,MIN,MAX,SUMA_ZLEC,WOLNE_SALDO,WOLNE_NIE_SPAK,23/01,24/01,WST,DO_ZAM_SZT
222,"STONE 1,5",120.0,0,0.0,112.0,112.0,150,300.0,35.0,77.0,77.0,16.0,19.0,0.0,103.0
223,"STONE 2,5",20.0,0,0.0,17.0,17.0,20,40.0,5.0,12.0,12.0,1.0,4.0,0.0,8.0
224,STONE 3,40.0,0,0.0,5.0,5.0,25,50.0,13.0,-8.0,-8.0,5.0,7.0,1.0,18.0
225,STONE 4,25.0,0,0.0,0.0,0.0,12,25.0,5.0,-5.0,-5.0,3.0,1.0,1.0,5.0
226,STONE 5,0.0,0,0.0,15.0,15.0,10,20.0,0.0,15.0,15.0,0,0,0.0,5.0
227,STONE ON,40.0,0,0.0,32.0,32.0,45,90.0,15.0,17.0,17.0,7.0,8.0,0.0,33.0
228,STONE NW140x150,50.0,0,0.0,31.0,31.0,55,110.0,19.0,12.0,12.0,9.0,10.0,0.0,48.0
229,STONE NW140x150 LEN,30.0,0,0.0,66.0,66.0,28,55.0,13.0,53.0,53.0,5.0,8.0,0.0,0.0
230,STONE WN150x140 LEN,30.0,0,0.0,19.0,19.0,28,55.0,6.0,13.0,13.0,4.0,2.0,0.0,12.0
231,STONE [LH,20.0,0,0.0,0.0,0.0,10,20.0,4.0,-4.0,-4.0,1.0,2.0,1.0,4.0
232,STONE E30,0.0,0,0.0,7.0,7.0,6,12.0,1.0,6.0,6.0,1.0,0,0.0,6.0
233,STONE P106x106,0.0,0,0.0,16.0,16.0,5,10.0,1.0,15.0,15.0,1.0,0,0.0,0.0
234,STONE P106x82,20.0,0,0.0,7.0,7.0,19,38.0,9.0,-2.0,-2.0,4.0,5.0,0.0,20.0
235,STONE P82x82,0.0,0,0.0,7.0,7.0,6,12.0,4.0,3.0,3.0,1.0,3.0,0.0,9.0
236,STONE Z50,0.0,0,0.0,13.0,13.0,15,30.0,6.0,7.0,7.0,3.0,3.0,0.0,23.0
237,STONE Z70,0.0,0,0.0,190.0,190.0,55,110.0,10.0,180.0,180.0,4.0,6.0,0.0,0.0
238,STONE ][,100.0,0,0.0,120.0,120.0,100,200.0,29.0,91.0,91.0,13.0,14.0,2.0,9.0
239,STONE CUPIDO ][,0.0,0,0.0,140.0,140.0,40,80.0,7.0,133.0,133.0,2.0,5.0,0.0,0.0

In [ ]:
"sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db"

In [ ]:
Zapis_danych_do_Archiwum(243X, analiza, arp._Tabela_podsumowania_analizy, "sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db")