In [1]:
from Modele_db.modele_db import *
from Pianki.Analiza_pianek.funkcje_analizy_pianek import *

# pd.set_option()

In [2]:
Ogolna_analiza_objetosci()
print("---\nZAPEŁNIENIE MAGAZYNU")
Ogolna_analiza_objetosci("podsum_prc")

MAX_obj:                    3685
ZAMOWIONE_obj:              1070
CZEKA_NA_SPAKOWANIE_obj:    462
SALDO_obj:                  2094
WOLNE_obj:                  1754
WOLNE_NIE_SPAK_obj:         2216
DO_ZAM_obj:                 705
---
ZAPEŁNIENIE MAGAZYNU
SALDO / MAX: 56.8%
WOLNE / MAX: 47.6%
WOLNE_NIE_SPAK / MAX: 60.1%
ZAPEŁNIENIE MAG PO ZDJECIU 3 PACZEK RAZEM Z ZAMOWIENIAMI: 89.2%

In [3]:
Podsumowanie_paczek_i_Pw("24/61")

OperationalError: (sqlite3.OperationalError) no such table: PRZYJECIE_WEWNETRZNE
[SQL: SELECT * FROM PRZYJECIE_WEWNETRZNE WHERE PW in (?)]
[parameters: ('24/61',)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
br = Braki(WOLNE="SALDO")[0] #USUNAC PROBLEM Z DUBLUJACYMI SIE ZAMOWIANIAMI(JEDNO DOSTARCZONE DRUGIE W DRODZE TWORZĄ SIĘ DWIE POZYCJE)
br.sort_values(by=["GRUPA", "OPIS"])
# br.to_excel("BRAKI.xlsx")

,OPIS,WOLNE_SALDO,SALDO,PACZKA,DATA_KOMPLETACJI,ZAMOWIONE,UWAGI,GRUPA
1,OXYGEN P103x80,-1.0,0.0,28/01,2024-10-02,0.0,...,1
4,LENOX [1o],-29.0,13.0,27/01,2024-09-25,140.0,"PIANKI ZAMOWIONE V, , ,",2
0,"ONYX 3,5",-3.0,0.0,27/01,2024-09-25,30.0,"PIANKI ZAMOWIONE P, , ,",2
5,COCO [1M],-6.0,0.0,27/01,2024-09-25,60.0,CZEKA NA SPAKOWANIE,4
6,COCO [1o] = [1],-13.0,0.0,27/01,2024-09-25,90.0,CZEKA NA SPAKOWANIE,4
3,LENOX [1o],-29.0,13.0,27/01,2024-09-25,140.0,CZEKA NA SPAKOWANIE,4
2,REVERSO ][,-8.0,3.0,27/01,2024-09-25,30.0,CZEKA NA SPAKOWANIE,4

In [5]:
Zagrozone(WOLNE="SALDO")
zgr = Zagrozone(False,WOLNE="SALDO")
# zgr
# zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)]
# zgr[(zgr.SALDO < zgr.MIN)]
zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)&(zgr.SALDO < zgr.MIN)]

WOLNE PONIZEJ MIN: 122 POZYCJE
WOLNE PONIZEJ MIN NIE ZAMOWIONE: 24 POZYCJE
SALDO PONIZEJ MIN: 101 POZYCJE
SALDO PONIZEJ MIN NIE ZAMOWIONE: 17 POZYCJE

,OPIS,ZAMOWIONE,CZEKA_NA_SPAKOWANIE,SALDO,MIN,WOLNE_SALDO
13,AVANT 2][,0.0,0.0,0.0,7,0.0
45,CALYPSO 1,0.0,0.0,11.0,18,9.0
53,CALYPSO [L2H,0.0,0.0,6.0,8,6.0
59,DIVA X1X,0.0,0.0,2.0,3,1.0
68,DIVA 4X,0.0,0.0,3.0,4,3.0
73,DIVA P113x95,0.0,0.0,1.0,2,1.0
74,DIVA P95x95,0.0,0.0,7.0,8,7.0
94,"EXTREME 1,5s",0.0,0.0,0.0,8,0.0
97,"EXTREME [1,5s",0.0,0.0,0.0,8,0.0
107,EXTREME P80x105,0.0,0.0,0.0,8,0.0
146,MAXWELL P82x82,0.0,0.0,0.0,2,0.0
194,"RITZ 2,5",0.0,0.0,2.0,8,1.0
195,RITZ 3,0.0,0.0,4.0,6,4.0
197,RITZ 4,0.0,0.0,0.0,4,0.0
199,RITZ [LH,0.0,0.0,1.0,3,0.0
201,RITZ ][,0.0,0.0,6.0,30,0.0
255,"WIL 1,5 SIED BEZ BOCZ - OWA",0.0,0.0,23.0,30,20.0

In [6]:
#IMPORT ANAMLIZY PIANEK
from Pianki.Analiza_pianek.instrukcje_zamawiana import instrukcja_zamawiania_pianpol as izp, instrukcja_zamawiania_ciech as izc
from Pianki.Analiza_pianek.Podsumowanie_analizy_pianek import Podsumowanie_analizy_pianek

arp = Podsumowanie_analizy_pianek(izp)
# arc = Podsumowanie_analizy_pianek(izc)

In [10]:
arp["ELI/MIS"].ar

,OPIS,ZAMOWIONE,CZESIOWO_DOSTARCZONE,CZEKA_NA_SPAKOWANIE,SALDO,SALDO_Z_NIE_SPAK,MIN,MAX,SUMA_ZLEC,WOLNE_SALDO,WOLNE_NIE_SPAK,27/01,28/01,28/03,WST,DO_ZAM_SZT
290,"ELI/MIS 1,5 SIEDZISKO",10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
291,ELI/MIS 3 SIEDZISKO,10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
292,"ELI/MIS 3,5 SIEDZISKO",30.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,0.0
293,"ELI/MIS 4 = 3,5N SIEDZISKO",40.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,0.0
294,ELI/MIS L SIEDZISKO,10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
295,ELI/MIS NW SIEDZISKO,10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
296,ELI/MIS WN SIEDZISKO,10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
297,ELI/MIS ON SIEDZISKO,10.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,10.0
298,ELI/MIS P100x98 SIEDZISKO,15.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,5.0
299,ELI/MIS P120x98 SIEDZISKO,15.0,0,0.0,0.0,0.0,10,20.0,0.0,0.0,0.0,0,0,0,0.0,5.0

In [ ]:
(arp > 1).query("GRUPA < 4")

In [ ]:
arp.Tabela_podsumowania_analizy#.query("GRUPA == 4")

In [ ]:
arp["STONE"].ar

In [ ]:
"sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db"

In [11]:
Zapis_danych_do_Archiwum(243b, analiza, arp._Tabela_podsumowania_analizy, "sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db")