In [1]:
from Modele_db.modele_db import *
from Pianki.Analiza_pianek.funkcje_analizy_pianek import *

# pd.set_option()

In [2]:
Podsumowanie_paczek_i_Pw("24/44")

OBIĘTOSC PACZEK (Z OWATAMI)
19/01: 166m3
20/01: 135m3
WST: 79m3
Objetość wszystkich paczek: 379m3
PW 24/44 spakowano: 100M3

In [3]:
br = Braki(WOLNE="SALDO")[0] #USUNAC PROBLEM Z DUBLUJACYMI SIE ZAMOWIANIAMI(JEDNO DOSTARCZONE DRUGIE W DRODZE TWORZĄ SIĘ DWIE POZYCJE)
br.sort_values(by=["GRUPA", "OPIS"])
# br.to_excel("BRAKI.xlsx")

,OPIS,WOLNE_SALDO,SALDO,PACZKA,DATA_KOMPLETACJI,ZAMOWIONE,UWAGI,GRUPA
6,UNO P63x63,-1.0,3.0,20/01,2024-07-03,0.0,...,1
4,CALYPSO 4,-16.0,10.0,20/01,2024-07-03,20.0,"PIANKI ZAMOWIONE P, , ,",2
5,CALYPSO N125,-4.0,9.0,WST,2024-07-10,20.0,"PIANKI ZAMOWIONE P, , ,",2
7,COCO [1o] = [1],-17.0,0.0,19/01,2024-06-26,90.0,"PIANKI ZAMOWIONE P, , ,",2
8,GOYA 1,-4.0,0.0,WST,2024-07-10,20.0,"PIANKI ZAMOWIONE P, , ,",2
9,"GOYA 1,5",-7.0,0.0,19/01,2024-06-26,20.0,"PIANKI ZAMOWIONE P, , ,",2
12,GOYA N,-4.0,0.0,WST,2024-07-10,20.0,"PIANKI ZAMOWIONE P, , ,",2
14,GOYA P112x100,-2.0,0.0,WST,2024-07-10,10.0,"PIANKI ZAMOWIONE P, , ,",2
15,GOYA P112x80,-3.0,0.0,19/01,2024-06-26,10.0,"PIANKI ZAMOWIONE P, , ,",2
10,GOYA [1,-8.0,0.0,WST,2024-07-10,30.0,"PIANKI ZAMOWIONE P, , ,",2
11,"GOYA [1,5",-9.0,0.0,19/01,2024-06-26,30.0,"PIANKI ZAMOWIONE P, , ,",2
13,GOYA [L/[LH,-5.0,0.0,19/01,2024-06-26,20.0,"PIANKI ZAMOWIONE P, , ,",2
0,AVANT 1,-1.0,0.0,19/01,2024-06-26,40.0,CZEKA NA SPAKOWANIE,4
1,"AVANT 2,5][",-3.0,2.0,19/01,2024-06-26,30.0,CZEKA NA SPAKOWANIE,4
2,AVANT P104x64,-1.0,0.0,19/01,2024-06-26,20.0,CZEKA NA SPAKOWANIE,4
3,AVANT P64x64,-2.0,0.0,19/01,2024-06-26,10.0,CZEKA NA SPAKOWANIE,4

In [4]:
Zagrozone(WOLNE="SALDO")
zgr = Zagrozone(False,WOLNE="SALDO")
# zgr
# zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)]
# zgr[(zgr.SALDO < zgr.MIN)]
zgr[((zgr.ZAMOWIONE + zgr.CZEKA_NA_SPAKOWANIE) == 0)&(zgr.SALDO < zgr.MIN)]

WOLNE PONIZEJ MIN: 66 POZYCJE
WOLNE PONIZEJ MIN NIE ZAMOWIONE: 44 POZYCJE
SALDO PONIZEJ MIN: 42 POZYCJE
SALDO PONIZEJ MIN NIE ZAMOWIONE: 24 POZYCJE

                OPIS  ZAMOWIONE  CZEKA_NA_SPAKOWANIE  SALDO  MIN  WOLNE_SALDO
0          AVANT [1]        0.0                  0.0    0.0    2          0.0
8          AVANT 2,5        0.0                  0.0    3.0    5          3.0
13         AVANT 2][        0.0                  0.0    4.0    7          3.0
19        AVANT LM][        0.0                  0.0   14.0   15          8.0
69            DIVA N        0.0                  0.0    1.0    2          1.0
82        DUO P82x82        0.0                  0.0    0.0    1          0.0
94      EXTREME 1,5s        0.0                  0.0    0.0    8          0.0
97     EXTREME [1,5s        0.0                  0.0    0.0    8          0.0
107  EXTREME P80x105        0.0                  0.0    0.0    8          0.0
142      MAXWELL Ons        0.0                  0.0    5.0   10          5.0
163          ONYX ][        0.0                  0.0   23.0   30         16.0
175   OXYGEN P103x80        0.0                  0.0    4.0    5          4.0
186  REVERSO 106x106        0.0                  0.0   17.0   18         17.0
197           RITZ 4        0.0                  0.0    0.0    4          0.0
202         RITZ Z60        0.0                  0.0    0.0    4          0.0
213     SPECTRA 2,5z        0.0                  0.0    3.0    4          3.0
217      SPECTRA [Lz        0.0                  0.0    7.0    8          6.0
224          STONE 3        0.0                  0.0   20.0   25         15.0
225          STONE 4        0.0                  0.0    7.0   12          1.0
231        STONE [LH        0.0                  0.0    7.0   10          5.0
250         WILLOW [        0.0                  0.0   64.0   65         53.0
263         GREY [1]        0.0                  0.0   68.0   75         61.0
264        KELLY [1]        0.0                  0.0   39.0   40         36.0
265       UNO P48x48        0.0                  0.0    0.0   15          0.0

In [5]:
Ogolna_analiza_objetosci()
print("---\nZAPEŁNIENIE MAGAZYNU")
Ogolna_analiza_objetosci("podsum_prc")

MAX_obj:                    3263
ZAMOWIONE_obj:              497
CZEKA_NA_SPAKOWANIE_obj:    192
SALDO_obj:                  2256
WOLNE_obj:                  1877
WOLNE_NIE_SPAK_obj:         2069
DO_ZAM_obj:                 866
---
ZAPEŁNIENIE MAGAZYNU
SALDO / MAX: 69.2%
WOLNE / MAX: 57.5%
WOLNE_NIE_SPAK / MAX: 63.4%
ZAPEŁNIENIE MAG PO ZDJECIU 2 PACZEK RAZEM Z ZAMOWIENIAMI: 78.6%

In [6]:
#IMPORT ANAMLIZY PIANEK
from Pianki.Analiza_pianek.instrukcje_zamawiana import instrukcja_zamawiania_pianpol as izp, instrukcja_zamawiania_ciech as izc
from Pianki.Analiza_pianek.Podsumowanie_analizy_pianek import Podsumowanie_analizy_pianek

arp = Podsumowanie_analizy_pianek(izp)
# arc = Podsumowanie_analizy_pianek(izc)

In [7]:
arp

OBJ_CIECH       38.76
OBJ_VITA        18.26
OBJ_PIANPOL    514.37
RAZEM          571.39

In [8]:
arp.Tabela_podsumowania_analizy

,GRUPA,MODEL,BRYL_DO_ZAMOWIENIA,WSPL_DO_ZAM,OBJ_CIECH,OBJ_VITA,OBJ_PIANPOL,*WSPL_ZAP_WOLNE,*WSPL_ZAP_ZAM
1,1,ELIXIR,240.0,55.0,0.00,0.00,87.09,45.0,45.0
2,1,STONE,283.0,40.0,0.00,0.00,106.98,65.0,65.0
0,1,AVANT,205.0,24.0,0.00,0.00,53.11,56.0,81.0
3,1,HORIZON,54.0,7.0,0.00,18.26,3.86,64.0,95.0
8,2,WILLOW,112.0,35.0,0.00,0.00,50.48,66.0,66.0
9,2,REVERSO,253.0,35.0,0.00,0.00,59.79,65.0,65.0
6,2,MAXWELL,41.0,27.0,0.00,0.00,16.73,78.0,78.0
4,2,AMALFI,106.0,19.0,0.00,0.00,36.89,47.0,85.0
5,2,DIVA,44.0,17.0,0.00,0.00,13.30,88.0,88.0
7,2,OXYGEN,26.0,12.0,0.00,0.00,7.73,92.0,97.0
17,3,SPECTRA,53.0,46.0,23.09,0.00,0.00,57.0,57.0
13,3,CALYPSO,64.0,42.0,0.00,0.00,20.61,22.0,66.0
14,3,ONYX,65.0,42.0,0.00,0.00,22.91,71.0,71.0
15,3,RITZ,30.0,32.0,6.08,0.00,0.00,112.0,112.0
12,3,HUDSON,26.0,16.0,0.00,0.00,7.36,63.0,94.0
11,3,DUO,11.0,12.0,0.00,0.00,3.85,96.0,96.0
16,3,SAMOA,25.0,11.0,0.00,0.00,6.02,57.0,89.0
10,3,GOYA,5.0,6.0,0.00,0.00,1.07,-52.0,148.0
22,4,UNO,61.0,76.0,0.00,0.00,2.21,34.0,34.0
19,4,GREY,89.0,59.0,6.51,0.00,0.00,41.0,41.0
23,4,KELLY,44.0,55.0,3.08,0.00,0.00,45.0,45.0
20,4,OVAL,66.0,19.0,0.00,0.00,7.71,38.0,81.0
18,4,COCO,30.0,17.0,0.00,0.00,4.62,4.0,83.0
21,4,LENOX,18.0,7.0,0.00,0.00,2.05,16.0,93.0

In [9]:
"sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db"

'sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db'

In [10]:
# Zapis_danych_do_Archiwum(2424, analiza, arp._Tabela_podsumowania_analizy, "sqlite:///Z:/450. PLANISTA - ZAOPATRZENIE/ARCHIWUM_ANALIZ.db")